:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(239, 241, 245);
    --entry: rgb(230, 233, 239);
    --primary: rgb(76, 79, 105);
    --secondary: rgb(108, 111, 133);
    --tertiary: rgb(172, 176, 190);
    --content: rgb(76, 79, 105);
    --code-block-bg: rgb(30, 30, 46);
    --code-bg: rgb(220, 224, 232);
    --border: rgb(204, 208, 218);
    color-scheme: light;
}

:root[data-theme="dark"] {
    --theme: rgb(30, 30, 46);
    --entry: rgb(49, 50, 68);
    --primary: rgb(205, 214, 244);
    --secondary: rgb(166, 173, 200);
    --tertiary: rgb(69, 71, 90);
    --content: rgb(186, 194, 222);
    --code-block-bg: rgb(24, 24, 37);
    --code-bg: rgb(49, 50, 68);
    --border: rgb(49, 50, 68);
    color-scheme: dark;
}

.list {
    background: var(--code-bg);
}

[data-theme="dark"] .list {
    background: var(--theme);
}
