{{ define "main" }}
  <h1><u><a href="{{ .Params.url }}">{{ .Title }}</a></u></h1>

  <br>

  <p><strong>Published: </strong> {{ .Date.Format "January 2, 2006" }} ({{ .Params.journal}})</p>

  <br>

  {{ with .Params.authors }}
    <p><strong>Authors:</strong>
      <i>{{ range . }}
        {{ . }}, 
      {{ end }}</i></p>
  {{ end }}
  <br>

  <p><strong>Abstract:</strong> {{ .Content }}</p>

  <br>

  {{ with .GetTerms "tags" }}
    <p><strong>Tags:</strong></p>
    <ul style="margin-left: 20px;">
      {{ range . }}
        <li>
            <div style = "text-transform: lowercase">
            <u><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></u>
            </div>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}